port_range = 9001-9010
directory = /home/leech/torrent/incomplete
session = /home/leech/torrent/session
encryption = allow_incoming,try_outgoing

## Throttles

# General throttle for everyone. This should never be used except
# maybe if torrents are added manually
# TODO: these actually cap the rates of all transfers, regardless of the
# throttle_* values below
#download_rate = 3000
#upload_rate = 300

# Muggle throttle
throttle_up   = muggle, 400
throttle_down = muggle, 0

# Poweruser thottle
throttle_up   = power, 3000
throttle_down = power, 0

## Ratio handling - http://libtorrent.rakshasa.no/wiki/RTorrentRatioHandling

# Disable the default ratio group, this will otherwise override the
# groups below.
ratio.disable=

# Ratio for muggle group
group.insert_persistent_view = muggle_group
group.muggle_group.ratio.enable=
group.muggle_group.ratio.max.set=137

# Ratio for powerseeding group
group.insert_persistent_view = power_group
group.power_group.ratio.enable=
group.power_group.ratio.max.set=1000


# Changing the command triggered when the ratio is reached.
system.method.set = group.seeding.ratio.command, d.close=, d.erase=

## Schedules
# Pick up torrents from queues
schedule = watch_directory_muggle_group,10,10,"load_start=/home/leech/torrent/queue/*.torrent, view.set_visible=muggle_group, d.set_throttle_name=muggle"
schedule = watch_directory_power_group, 10,10,"load_start=/home/leech/torrent/queue-powerseeding/*.torrent, view.set_visible=power_group, d.set_throttle_name=power"

# Misc general schedules
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=
schedule = low_diskspace,5,60,close_low_diskspace=500M

## Hooks

# Move torrents to complete/ when they're done
system.method.set_key = event.download.finished, a_move_complete, "execute=/bin/mv,-u,$d.get_base_path=,/home/leech/torrent/complete/ ;d.set_directory=/home/leech/torrent/complete/"
# torrent-queue hooks - see also http://rakshasa.no/pipermail/libtorrent-devel/2008-November/001906.html
system.method.set_key = event.download.inserted_new,irctor_inserted_new,"execute=irctor-queue,/tmp/torrentlog,inserted_new,$d.get_name=,$d.get_size_bytes=1,$d.get_loaded_file=1"
system.method.set_key = event.download.finished,irctor_finished,"execute=irctor-queue,/tmp/torrentlog,finished,$d.get_name=,$d.get_size_bytes=1,$d.get_loaded_file=1,/home/leech/torrent/complete"
system.method.set_key = event.download.erased,irctor_erased,"execute=irctor-queue,/tmp/torrentlog,erased,$d.get_name=,$d.get_size_bytes=1,$d.get_completed_bytes=1,$d.get_up_total=1,$d.get_ratio=1"

## Logging
log.execute = /home/leech/torrent/log/exec.log
log.xmlrpc  = /home/leech/torrent/log/xmlrpc.log

## XML-RPC
scgi_port = localhost:1337
# XML-RPC uses UTF-8
encoding_list = UTF-8

min_peers = 50
max_peers = 500
min_peers_seed = 50
max_peers_seed = 100
max_uploads = 40

hash_read_ahead = 8
hash_max_tries = 5
hash_interval = 10 

## Memory tweaking
### See: http://mybookworld.wikidot.com/forum/t-50183/rtorrent:run-out-of-memory
###      http://libtorrent.rakshasa.no/wiki/RTorrentPerformanceTuning
send_buffer_size = 16384
receive_buffer_size = 16384

umask = 022

dht = on
dht_port = 6881
peer_exchange = yes
