port_range = 38100-38100
port_random=no
directory = /home/leech/torrent/files
session = /home/leech/torrent/session
encryption = allow_incoming,try_outgoing
safe_sync = yes
schedule = watch_directory,10,10,load_start=/home/leech/torrent/queue/*.torrent
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=

min_peers = 50
max_peers = 500
min_peers_seed = 50
max_peers_seed = 100
max_uploads = 40
upload_rate = 700
download_rate = 0

hash_read_ahead = 8
hash_max_tries = 5
hash_interval = 10 

umask = 022
