port_range = 38100-38100
port_random=no
directory = /home/leech/torrent/incomplete
session = /home/leech/torrent/session
encryption = allow_incoming,try_outgoing
safe_sync = yes
schedule = watch_directory,10,10,load_start=/home/leech/torrent/queue/*.torrent
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=
schedule = low_diskspace,5,60,close_low_diskspace=500M
schedule = ratio,60,60,stop_on_ratio=150

# See http://rakshasa.no/pipermail/libtorrent-devel/2008-November/001906.html
system.method.set_key = event.download.inserted_new, utor_enqueue, "execute=/home/hinrik/src/utor/torrent-queue,$d.get_hash=,enqueue"
system.method.set_key = event.download.finished, move_complete, "execute=/bin/mv,-u,$d.get_base_path=,/home/leech/torrent/complete/ ;d.set_directory=/home/leech/torrent/complete/"
system.method.set_key = event.download.finished, utor_finish, "execute=/home/hinrik/src/utor/torrent-queue,$d.get_hash=,finish"

## XML-RPC
scgi_port = localhost:5000
# XML-RPC uses UTF-8
encoding_list = UTF-8

min_peers = 50
max_peers = 500
min_peers_seed = 50
max_peers_seed = 100
max_uploads = 40
upload_rate = 700
download_rate = 0

hash_read_ahead = 8
hash_max_tries = 5
hash_interval = 10 

umask = 022

#dht = on
#dht_port = 6881
#peer_exchange = yes
